
@{
    ViewBag.Title = "Index";
}

<h2>Inclusão de itens aos pedidos</h2>



<ul>
    @Html.ActionLink("Incluir novo item", "Incluir", null, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Lista de Itens", "Listar", null, new { @class = "btn btn-primary" })
</ul>


