@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="contato">
    <address>
        <p>Rua Canuto Berea, 25 - Sala 02</p>
        <p>City Jaraguá - São Paulo - SP</p><br/>
        <p>••••••••••••• AGENDAMENTO</p>
        <abbr title="Phone">Fone:</abbr>
        (11) 9-8028-1639
    </address>


    <address>
        <strong>Suporte:</strong>   <a href="mailto:Support@example.com">ayme.de.sa@hotmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@stutiodsa.com</a>
    </address>
</div>

<!--MapaGoogle Resposnsivo-->
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.45040783885!2d-46.73798538554617!3d-23.444212463160458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefb919d50184d%3A0xd452bb2b57a449ce!2sR.%20Can%C3%BAto%20Berea%2C%2025%20-%20Sala%20-%2002%20-%20Jaragu%C3%A1%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002996-050!5e0!3m2!1spt-BR!2sbr!4v1646905668909!5m2!1spt-BR!2sbr" 
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>