@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Gestão de Vendas</h1>
</div>

<div class="row">
    <div class="col-md-6">

        <img src="~/Imagens/savings2.jpg" width="100%" class="img-fluid rounded mx-auto d-block" alt="Imagem responsiva">


        <h2>Escolha no Menu as opções</h2>

        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
    </div>
   
</div>