@{
    ViewBag.Title = "Sobre Nós";
}


    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div class="pagina">
        <div class="sobre">
            <h2>Tenha acesso a procedimentos estéticos, com segurança e responsabilidade, por meio de Biomédica Esteta especialista em pele.​..</h2>

            <p>
                Studio D'Sá é uma clínicas estética que nasceu para cuidar de seu Corpo e de sua Pele.
                Criada para você, que sempre desejou ter um Espaço Estético pra chamar de seu! Além de consultas médicas com dermatologistas,
                disponibilizamos diversos tratamentos a laser e injetáveis. Com preços e condições de pagamento que viabilizam agora
                você ter o cuidado que sua pele merece. Todos os nossos equipamento possuem ANVISA e FDA (Food and Drug Administration),
                e nossa equipe médica é 100% especializada em Dermatologia. Isso porque sabemos que a qualidade, segurança, transparência
                e cuidado são fundamentais para um atendimento seguro, eficaz e de excelência.
            </p>

        </div>
    </div>